<footer class="footer">

    <a class="footer__buttom" href="#header" title="Ir al inicio de la pagina" alt="Ir al inicio de la pagina"> <img
            class="footer__buttomimag" src="./assets/images/ico-arrow.svg" /></a>

    <nav class="footer__menu1">
        <ul class="footer__menu__list">
            <li><a class="footer__menu__link" href="https://adalab.es/" title="ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Articles</a></li>
            <li><a class="footer__menu__link" href="https://adalab.es/" title="Ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Books</a></li>
            <li><a class="footer__menu__link" href="https://adalab.es/" title="Ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Events</a></li>
            <li><a class="footer__menu__link" href="https://adalab.es/" title="Ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Reasons</a></li>
            <li><a class="footer__menu__link" href="https://adalab.es/" title="Ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Tips</a></li>

        </ul>
    </nav>
    <nav class="footer__menu2">
        <ul class="footer__menu__list2">
            <li><a class="footer__menu__link" href="https://adalab.es/" title="ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Twitter</a></li>
            <li><a class="footer__menu__link" href="https://adalab.es/" title="Ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Instagram</a></li>
            <li><a class="footer__menu__link" href="https://adalab.es/" title="Ir a la pagina de Adalab"
                    alt="Pagina de Adalab">Mastodon.social</a>
            </li>
        </ul>
    </nav>
    <small class="footer__small">
        <span class="footer__small__copyright"> ©2017</span>
        <span class="footer__small__components">we &#128147; components </span>
    </small>
</footer>