<footer>
    <button><img src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la pagina"
            title="Ir al incicio de la pagina"></button>
    <nav>
        <ul>
            <li><a href="https://adalab.es/" title="ir a la pagina de Adalab" alt="Pagina de Adalab">Articles</a></li>
            <li><a href="https://adalab.es/" title="Ir a la pagina de Adalab" alt="Pagina de Adalab">Books</a></li>
            <li><a href="https://adalab.es/" title="Ir a la pagina de Adalab" alt="Pagina de Adalab">Events</a></li>
            <li><a href="https://adalab.es/" title="Ir a la pagina de Adalab" alt="Pagina de Adalab">Reasons</a></li>
            <li><a href="https://adalab.es/" title="Ir a la pagina de Adalab" alt="Pagina de Adalab">Tips</a></li>

        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="https://adalab.es/" title="ir a la pagina de Adalab" alt="Pagina de Adalab">Twitter</a></li>
            <li><a href="https://adalab.es/" title="Ir a la pagina de Adalab" alt="Pagina de Adalab">Instagram</a></li>
            <li><a href="https://adalab.es/" title="Ir a la pagina de Adalab" alt="Pagina de Adalab">Mastodon.social</a>
            </li>
        </ul>
    </nav>
    <div>
        <span>2017</span>
        <span>we &#128147; components </span>
    </div>
</footer>