<header class="header">
        <a class="header__link" href="https://adalab.es/" title="Pagina de Adalab" alt="Pagina de Adalab"><img
                        src="./assets/images/ico-menu.svg" alt="Ir a la pagina de Adalab"
                        title="Ir a la pagina de Adalab"></a>
        <h1 class="header__title">Anonymous proxy</h1>
        <p class="header__paragraph">In hac habitasse platea dictumst.</p>
        <button class="header__button"><img class="header__button__image" src="./assets/images/ico-scroll-down.svg"
                        alt="Ir a 3 Reasons To Purchase" title="3 Reasons To Purchase"></button>
</header>