<main>
    <section class="main__section-one">
        <small>Insomnia tips</small>
        <h2>Looking through a window</h2>
        <p>Donec accumsan, nulla ut volupat orttior, quam odio tempus felis, al luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum. </p>
        <button>Go</button>
    </section>
    <section class="main__section-two">
        <h2>3 reasons to purchase</h2>
        <ul class="main__section-two__list">
            <li class="main__section-two__list-1">
                <h3>Ut sed metus</h3>
                <p> Lorem ipsum dolor sit amet</p>
            </li>
            <li class="main__section-two__list-2">
                <h3>Curabitur ac erat</h3>
                <p> Mauris mattis urna quis lorem molestie</p>
            </li>
            <li class="main__section-two__list-3">
                <h3>Morbi dictum</h3>
                <p> Aliquam in dolor et dolor tincidunt</p>
            </li>
        </ul>
        <button>More reason</button>
    </section>
</main>