// color
$color-primary: white;
$color-secundary: black;
//color background
$color-main-section-one: white;
$color-main-section-two: #eff9ff;
$color-footer: #304268;
//fuente
$font-family: 'Roboto', sans-serif;
$font-family-title: 'Roboto', sans-serif;
